Source: vle-1.1
Section: misc
Priority: optional
Maintainer: Gauthier Quesnel <quesnel@users.sourceforge.net>
Build-Depends: debhelper (>= 8.0), cmake (>= 2.6), quilt, g++ (>= 4:3.2.2-0), devscripts, libgtkmm-2.4-dev, libglademm-2.4-dev, libboost-dev (>= 1.41), libboost-chrono-dev|libboost-dev (<< 1.49), libboost-date-time-dev, libboost-filesystem-dev, libboost-test-dev,  libboost-regex-dev, libboost-program-options-dev, libboost-thread-dev, mpi-default-dev, libgtksourceview2.0-dev, libarchive-dev
Build-Depends-Indep: doxygen, graphviz 
Standards-Version: 3.9.1
Homepage: http://www.vle-project.org
#Vcs-Git: git://git.debian.org/collab-maint/vle.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/vle.git;a=summary

Package: vle-1.1
Section: utils
Architecture: any
Depends:  ${shlibs:Depends}, ${misc:Depends}, libvle-1.1-0
Description: environment of modeling and simulation (executables files)
 VLE is a platform of modelling and simulation for complex systems.
 .
 This package contains excutables files.

Package: gvle-1.1
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgvle-1.1-0
Description: environment of modeling and simulation (executables files)
 VLE is a platform of modelling and simulation for complex systems.
 .
 This package contains the gvle excutables files.

Package: libvle-1.1-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libvle-1.1-data, pkg-config, cmake, libxml2-dev, libglibmm-2.4-dev, gcc, g++
Description: environment of modeling and simulation (runtimes files)
 VLE is a platform of modelling and simulation for complex systems.
 .
 This package contains shared libraries.
 

Package: libgvle-1.1-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libvle-1.1-0, libvle-1.1-data
Description: environment of modeling and simulation (runtimes files)
 VLE is a platform of modelling and simulation for complex systems.
 .
 This package contains shared libraries.

Package: libvle-1.1-dev
Section: libdevel
Architecture: any
Depends:  libvle-1.1-0 (= ${binary:Version}), libboost-dev (>= 1.41), libboost-chrono-dev|libboost-dev (<< 1.49), libboost-date-time-dev, libboost-filesystem-dev, libboost-test-dev,  libboost-regex-dev, libboost-program-options-dev, libboost-thread-dev, libboost-mpi-dev, libarchive-dev, ${misc:Depends}
Description: environment of modeling and simulation (development files)
 VLE is a platform of modelling and simulation for complex systems
 .
 This package contains shared libraries.

Package: libgvle-1.1-dev
Section: libdevel
Architecture: any
Depends: libgvle-1.1-0 (= ${binary:Version}), libvle-1.1-0 (= ${binary:Version}), libgtkmm-2.4-dev, libglademm-2.4-dev, libboost-dev (>= 1.41), libboost-chrono-dev|libboost-dev (<< 1.49), libboost-date-time-dev, libboost-filesystem-dev, libboost-test-dev,  libboost-regex-dev, libboost-program-options-dev, libboost-thread-dev, libboost-mpi-dev, libarchive-dev, ${misc:Depends}
Description: environment of modeling and simulation (development files)
 VLE is a platform of modelling and simulation for complex systems
 .
 This package contains shared libraries.

Package: libvle-1.1-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: environment of modeling and simulation (development files)
 VLE is a platform of modelling and simulation for complex systems
 .
 This package contains documentation of shared libraries.
 

Package: libgvle-1.1-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: environment of modeling and simulation (development files)
 VLE is a platform of modelling and simulation for complex systems
 .
 This package contains documentation of shared libraries.

Package: libvle-1.1-data
Section: utils
Architecture: all
Depends: ${misc:Depends}
Description: environment of modeling and simulation (runtimes files)
 VLE is a platform of modelling and simulation for complex systems.
 .
 This package contains shared libraries.

